<section>
    <!-- Left half -->
    <div>
        <h1>Get ready for your best ever <span>dental experience!</span></h1>
        <h2>We use only the best quality materials on the market in order to provide the best products to our patients
        </h2>
        <%- include('button', {text: "Our Services" }) %>
    </div>
    <!-- right half -->
    <div></div>
</section>